{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Contact</title>

    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'css/style-starter.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">
  </head>
  <body id="home">
    
<script src="{% static 'js/jquery-3.3.1.min.js'%}"></script> <!-- Common jquery plugin -->
<!--bootstrap working-->
<script src="{% static 'js/bootstrap.min.js'%}"></script>
<!-- //bootstrap working-->
<!-- disable body scroll which navbar is in active -->
<script>
$(function () {
  $('.navbar-toggler').click(function () {
    $('body').toggleClass('noscroll');
  })
});
</script>
<!-- disable body scroll which navbar is in active -->

<!--header-->
<section class=" w3l-header-4 header-sticky">
  <header class="absolute-top">
      <div class="container">
          <nav class="navbar navbar-expand-lg navbar-light">
              <h3><a class="navbar-brand" href="/" style="font-size:10px; font-style:Lobster;"> <span
                          aria-hidden="true"></span>
                      <center><img src="{% static "images/loga1.png" width="30px" height="30px"%}" ></center>
                      <h1 style="font-size: 30px; color: #01E1B8;"><strong>WED</strong>Planpro</h1>
                      <span style="color:#01E1B8"></span>
                  </a></h3>
              <!-- <h5 style="color:#e7b829">The Event planners</h5> -->
              <button class="navbar-toggler bg-gradient collapsed" type="button" data-toggle="collapse"
                  data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                  aria-label="Toggle navigation">
                  <span class="fa icon-expand fa-bars"></span>
                  <span class="fa icon-close fa-times"></span>

              </button>

              <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav ml-auto">
                      <li class="nav-item">
                          <a class="nav-link" href="/" >Home <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link">Services <span class="fa fa-sort-desc"></span></a>
                         
                          <ul>
                              {% for s in service%}
                              <li>
                                  <a href="/service">
                                      <span  class="text">{{s.cat_name}}</span>
                                  </a>
                              </li>
                              {% endfor %}
                          </ul>
                          
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/Contact">Contact</a>
                      </li>
                  </ul>
                  <a href="/bothlogin" class="ml-lg-3 mt-lg-0 mt-3 book btn btn-style">Member Registration</a>
              </div>
      </div>

      </nav>
      </div>
  </header>
</section>

<!--endHeader-->

<!-- breadcrumbs -->
<section class="w3l-inner-banner-main">
    <div class="about-inner contact editContent">
        <div class="container">   
            <div class="main-titles-head">
            <h3 class="header-name editContent">
                
 Contact Us
            </h3>
            <p class="tiltle-para editContent">If any quries and any problem any will contact us we try to definitly to solve it.</p>
        </div>
        <div class="breadcrumbs-sub">
            <ul class="breadcrumbs-custom-path">
                <li class="right-side propClone"><a href="/" class="editContent">Home <span class="fa fa-angle-right" aria-hidden="true"></span></a> <p></li>
                <li class="active editContent">
                    Contact</li>
            </ul>
            </div>
</div>
</div>

    </div>
</section>
<!-- breadcrumbs //-->
<section class="w3l-contact-info-main" id="contact">
    <div class="contact-sec	editContent">
        <div class="container">

            <div class="d-grid contact-view">
                <div class="cont-details">
                    <div class="cont-top">
                        <div class="cont-left text-center">
                            <span class="fa fa-phone text-primary"></span>
                        </div>
                        <div class="cont-right">
                            <h6>Call Us</h6>
                            <p class="para"><a href="tel:+44 99 555 42">+123 45 67 89</a></p>
                        </div>
                    </div>
                    <div class="cont-top margin-up">
                        <div class="cont-left text-center">
                            <span class="fa fa-envelope-o text-primary"></span>
                        </div>
                        <div class="cont-right">
                            <h6>Email Us</h6>
                            <p class="para"><a href="mailto:example@mail.com" class="mail">example@mail.com</a></p>
                        </div>
                    </div>
                    <div class="cont-top margin-up">
                        <div class="cont-left text-center">
                            <span class="fa fa-map-marker text-primary"></span>
                        </div>
                        <div class="cont-right">
                            <h6>Address</h6>
                            <p class="para">Chothe road block-3, Left side of KLE hospital..Belgum
                              .</p>
                        </div>
                    </div>
                </div>
                <div class="map-content-9">
                  <form class="form" action="" method="post" enctype="multipart/form-data">
                    
                  {% csrf_token %}
                  {% include 'mainweb/alert.html' %}
                        <div class="twice-two">
                            <input type="text" class="form-control" name="name" id="Name" placeholder="Name" autocomplete="off">
                            <input type="email" class="form-control" name="email" id="Sender" placeholder="Email" autocomplete="off">
                        </div>
                        <div class="twice">
                            <input type="text" class="form-control" name="subject" id="Subject" placeholder="Subject" autocomplete="off">
                        </div>
                        <textarea class="form-control" name="message" placeholder="Message" autocomplete="off"></textarea>
                        <button type="submit" class="btn btn-contact" onclick="click()">Send Message</button>
                    </form>
                </div>
    </div>
    <div class="map-iframe mt-5">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d61292.254025029375!2d74.31024108080858!3d16.232471624348825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc08e8353d9ea6b%3A0x7e17b91484edaab!2sGadhinglaj%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1705132446287!5m2!1sen!2sin" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    </div></div>
</section>
<section class="w3l-footer-29-main">
	<div class="footer-29 py-5">
	  <div class="container">
		<div class="row footer-top-29">
		  <div class="col-lg-5 col-md-5 col-sm-6 footer-list-29 footer-1">
			<div class="left-side">
				<h2><a href="/" class="footer-logo"><strong>WED</strong>Planpro</a></h2>
				<p class="para">Each and every event as her own perspective collborate nature. That will makes happy the people and touch the <br>glow and smile with heartly </p>
			</div>
		  </div>
		  <div class="col-lg-3 col-md-3 col-sm-6 footer-list-29 footer-2 ">
  
			<ul>
        <h6 class="footer-title-29">Useful Links</h6>
        <li><a href="/">Home</a></li>
        <li><a href="/service">Services</a></li>
        <li><a href="/Contact">Contact us</a></li>
			</ul>
		  </div>
		  <div class="col-lg-4 col-md-4 col-sm-6 footer-list-29 footer-3">
			  <h6 class="footer-title-29">Latest from blog</h6>
			  <div class="footer-post mb-3">
				<a href="#page"> 
					<img src="images/wedding.jpeg" class="img-responsive" alt=""></a>
					<div>
				<a href="#page">Decorate on this way.</a>
				<p class="small"><span class="fa fa-clock-o"></span> March 9, 2023</p>
			</div>
			  </div>
			  <div class="footer-post">
				<a href="#page"> 
					<img src="images/wedding1.jpeg" class="img-responsive" alt="">
				</a>
					<div>
				<a href="#page">Decorate on this way.</a>
				<p class="small"><span class="fa fa-clock-o"></span> March 9, 2023</p>
			  </div>
			</div>
		  </div>
		</div>
	</div>
  </section>
  <section class="w3l-footer-29-main w3l-copyright">
	<div class="container">
	  <div class=" bottom-copies text-center">
		<p class="copy-footer-29"> 2024 WEDPlanpro. All rights reserved | Designed by SGM Students <a href="#"></a></p>
	  </div>
	</div>
  </section>
<!-- move top -->
<button onclick="topFunction()" id="movetop" title="Go to top">
	<span class="fa fa-long-arrow-up"></span>
</button>
<script>
	// When the user scrolls down 20px from the top of the document, show the button
	window.onscroll = function () {
		scrollFunction()
	};

	function scrollFunction() {
		if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
			document.getElementById("movetop").style.display = "block";
		} else {
			document.getElementById("movetop").style.display = "none";
		}
	}

	// When the user clicks on the button, scroll to the top of the document
	function topFunction() {
		document.body.scrollTop = 0;
		document.documentElement.scrollTop = 0;
	}
</script>
<!-- /move top -->
</body>

</html>
